body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

h1 {
  font-size: 60px;
  text-shadow: 3px 3px 15px black;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  text-shadow: 2px 2px 8px black;
  margin-bottom: 30px;
}

.socials img {
  width: 55px;
  margin: 15px;
  transition: 0.3s;
}

.socials img:hover {
  transform: scale(1.2);
}
